/* Google fonts import */
<style>@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Oswald:wght@200;300;400;500;600;700&display=swap');
</style>

/* Asterisk wildcald selector to override default style added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* Generic project styles */
    color: #3a3a3a;
    font-family: 'lato', sans-serif;
}

/* Header, in the header, we made the position fixed, so when on mobile device, the heading is static, we also added a box shadow under the header so it can slighly demacate the header from the main content, also thge z-index was used for overlapping, the header to top any other content below it*/
header {
    background-color: #ffffff;
    padding: 0 1rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    box-shadow: 0 2px 2px #3a3a3a;
}

/* made the logo "LOve running" uppercase and spaced the letter and also change the color*/
h1 {
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #252525;
}

/* Made some changes to the Menu navigation */
#menu {
    font-size: 110%;
    letter-spacing: 4px;
    list-style-type: none;
}

/* list item in the nav menu is rearranged to a better margin */
#menu>li {
    margin-bottom: 1em;
}

/* A class attribute is given to HOme in the nav bar from the html in other to target it in css */
.active {
    border-bottom: 1px solid #3a3a3a;
}

/* Remove link underline, from the logo itself and the navs which are a elements */
header a {
    text-decoration: none;
    color: inherit;
}



/* Nav bar styles with drop down toggle */
nav {
    position: absolute;
    background-color: #ffffff;
    width: 100%;
    left: 0;
    padding: 0 1rem;
    box-shadow: 0 2px 2px #3a3a3a;
    display: none;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    top: 100%;

}
/* Nav toggle */
#nav-toggle:checked~nav {
    display: block ;
}

#nav-toggle {
    display: none;
}
.nav-toggle-label {
    font-size: 2rem;
}


/* Main Content */
main {
    background-color: lightblue;
    /* Make main element take up any surplus space to push footer down */
    flex: 1 0 auto;
}

/* Footer */
footer {
    background-color: orange;
}